# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Dependencies
Pipfile
Pipfile.lock
requirements.txt

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/